<div class="container">
<div class="row">
  <div class="col-sm-4 mt-5 mb-sm-0" *ngFor="let venue of venues">
    <div class="card">
        <img [src]="image_1" alt="Venue_Image" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{venue.name}}</h5>
        <p class="card-text">Capacity : {{venue.capacity}}</p>
        <p>Location : {{venue.location}}</p>
        <button class="btn btn-primary" (click)="onSubmit(venue)" style="width: 150px;">Book</button>
      </div>
    </div>
  </div>
</div>
</div>